.purple-line {
    width: 100%;
    height: 4px;
    background-color: var(--purple-line);
}

.white-line {
    width: 100%;
    height: 4px;
    background-color: var(--tinted-white);
}

.seperator-bottom-sm {
    margin-bottom: 2%;
}

.white-landing {
    width: 100%;
    height: 110vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-inline: auto;
    padding-inline: 7.5vw;
    padding-block: 8rem;

    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;

    color: black;
    background-color: white;
}

@media (max-width: 475px) {
    .white-landing {
        padding-inline: 5vw;
        /* padding-top: 9rem; */

        border-bottom-right-radius: 32px;
        border-bottom-left-radius: 32px;
    }
}

.white-landing-content {
    width: 55%;
    height: 95%;
}

.white-landing-content h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.white-landing-content p {
    margin-top: 3rem;
}

.white-landing-img-container {
    width: 40%;
    height: 100%;
}

.white-landing-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 800px) {
    .white-landing {
        flex-direction: column;
        /* padding-block: 5rem; */
    }

    .white-landing-content {
        width: 100%;
        height: fit-content;
    }

    .white-landing-content h2 {
        margin-top: 1rem;
    }

    .white-landing-content p {
        margin-block: 1rem;
    }

    .white-landing-img-container {
        flex: 1;
        width: auto;

        overflow: hidden;
    }

    .white-landing-img-container img {
        object-fit: cover;
    }

}

@media (max-width: 600px) {

    .white-landing #landing-img {
        /* width: 100%;
        height: 50%; */
    }
}


.purple-landing {
    width: 100%;
    height: 110vh;

    display: flex;
    flex-direction: column;
    
    /* padding-inline: 5vw; */
    padding-block: 8rem;

    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;

    color: white;
    background-color: var(--standard-purple);
}

.yellow-button {
    width: fit-content;
    background-color: var(--standard-yellow);
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    
    cursor: pointer;

    border-radius: 10vw;
    text-align: center;
}

.mobile-vis {
    display: none;
}

.mobile-flex-vis {
    display: none;
}

.default-vis {

}

@media (max-width: 800px) {
    .default-vis {
        display: none;
    }
    .mobile-vis {
        display: block;
    }
    .mobile-flex-vis {
        display: flex;
    }

}
