.footer {
    width: 100vw;
    height: 75vh;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;

    background-color: var(--standard-purple);
}

@media (max-width: 1024px) {
    .footer {
        height: 90vh;
    }
}


@media (max-width: 500px) {
    .footer {
        height: 50vh;
    }
}

.footer-image {
    width: 50rem;
    
    position: absolute;
    right: min(7rem, 7vw);
    bottom: 0rem;

    z-index: 0;
    
    user-select: none;
}

@media (max-width: 800px) {
    .footer-image {
        right: 1/2;
    }
}

@media (max-width: 600px) {
    .footer-image {
        width: 40rem;
    }
}

.footer-responsive-section {
    flex: 1;
    width: var(--default-width);

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    margin-inline: auto;
    padding-top: 4rem;
    
    z-index: 10;
}

@media (max-width: 600px) {
    .footer-responsive-section {
        flex-direction: column;
        /* background: #000; */
    }

}

.footer-links {
    width: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-link-section {
    width: fit-content;
    height: 40%;
    
    display: flex;
    flex-direction: row;

    gap: 2rem;
}

.footer-link-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    
    color: white;
}

@media (max-width: 475px) {
    .footer-link-container h2 {
        font-size: 6vw;
    }
}

.footer-link-container > * {
    z-index: 10;
}

.footer-email {
    color: white;
    text-align: right;

    z-index: 10;
}

@media (max-width: 1200px) {
    .footer-responsive-section {
        width: var(--default-width);
        flex-direction: column;
        justify-content: space-between;

        margin-inline: auto;

        gap: 2rem;
    }

    .footer-links {
        width: 80%;
    }

    .footer-email {
        color: white;
        text-align: right;

        z-index: 10;
    }
}

.footer-logo-address {
    width: var(--default-width);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* position: absolute; */

    margin-inline: auto;
    padding-block: 1rem;

    bottom: 0;
}

.footer-address {
    width: 70%;
    position: relative;
    color: white;
    text-align: right;
}

.footer-logo {
    width: 20%;
    object-fit: cover;

    position: relative;

    user-select: none;
}

@media (max-width: 475px) {
    .footer-address {
        width: 50%;
    }

    .footer-address h3 {
        font-size: 1.2rem;
    }

    .footer-logo {
        width: 30%;
    }
}