.home-landing-tagline {
    width: 850px; /* should always match navbar width */
    height: 100%;

    position: relative;

    display: flex;
    align-items: end;
    justify-content: center;

    padding-bottom: 5rem;

    color: white;
    text-align: center;

    z-index: 2;
}

.home-sponsor-bar-container {
    width: 100%;

    overflow: hidden;
}

.home-sponsor-bar {
    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;
    gap: 2rem;

    overflow: hidden;
    padding-block: 1rem;
}

.home-sponsor-bar > *{
    width: 20vw;
    height: 15vh;
    /* background: #000; */
}

.home-sponsor-bar > * > * {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-redirect-section {
    width: 92.5%;
    height: fit-content;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 3%;

    margin-inline: auto;
    padding-block: 5rem;
    padding-bottom: 7rem;
}

.home-redirect {
    flex: 1;
    clip-path: inset(0 0 0 0);
}

.home-redirect-img-container {
    width: 100%;
    height: 60vh;

    overflow: hidden;

    transition: all 0.3s ease;
}

.home-redirect-img-container img {
    object-fit: cover;

    transition: all 0.3s ease;
}

.home-redirect-img-container:hover img {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

@media screen and (max-width: 850px) {
    .redirect {
        flex-direction: column;
    }
}

.home-carousel {
    display: flex
}

.home-carousel > * {
    flex: 1
}

.home-competition-column {

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}