.home-landing-tagline {
    width: 850px; /* should always match navbar width */
    height: 100%;

    position: relative;

    display: flex;
    align-items: end;
    justify-content: center;

    padding-bottom: 5rem;

    color: white;
    text-align: center;

    z-index: 2;
}

@media (max-width: 1024px) {
    .home-landing-tagline {
        width: 600px;
    }
}

@media (max-width: 750px) {
    .home-landing-tagline {
        width: 400px;
    }
}

@media (max-width: 475px) {
    .home-landing-tagline {
        padding-bottom: 8rem;
    }
}

.home-sponsor-bar-container {
    width: 100%;

    overflow: hidden;
}

.home-sponsor-bar {
    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;
    gap: 2rem;

    overflow: hidden;
    padding-block: 1rem;
}

.home-sponsor-bar > *{
    width: 20vw;
    height: 15vh;
}

@media (max-width: 475px) {
    .home-sponsor-bar > *{
        width: 40vw;
        height: 15vh;
    }
}

.home-sponsor-bar > * > * {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-redirect-section {
    width: var(--default-width);
    height: fit-content;
    
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));    
    justify-content: space-between;

    gap: 3%;

    margin-inline: auto;
    padding-block: 5rem;
    padding-bottom: 7rem;
}

@media (max-width: 800px) {
    .home-redirect-section {
        grid-template-columns: repeat(2, minmax(0, 1fr));    
    }
}

@media (max-width: 475px) {
    .home-redirect-section {
        grid-template-columns: repeat(1, minmax(0, 1fr));  
        padding-bottom: 10rem;
  
    }
}

.home-redirect {
    flex: 1;
    clip-path: inset(0 0 0 0);
}

.home-redirect-img-container {
    width: 100%;
    height: 60vh;

    overflow: hidden;
    margin-block: 0.25rem;

    transition: all 0.3s ease;
}

@media (max-width: 475px) {
    .home-redirect-img-container {
        height: 40vh;
        margin-block: 0.25rem;
    }
}

.home-redirect-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: all 0.3s ease;
}

.home-redirect-img-container:hover img {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

@media (max-width: 850px) {
    .redirect {
        flex-direction: column;
    }
}

.home-white-section-hero {
    height: 92vh;
}

@media (max-width: 800px) {
    .home-white-section-hero {
        height: 70vh;
    }
}

@media (max-width: 475px) {
    .home-white-section-hero {
        height: 60vh;
    }
}

.home-competition-section {
    width: var(--wide-width);
    height: 60vh;

    margin-inline: auto;
    margin-block: 7.5rem;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.25rem;
}

@media (max-width: 600px) {
    .home-competition-section {
        height: fit-content;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .home-competition-big-image {
        grid-column: span 2;
    }
}

.home-competition-column {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.home-end-section {
    width: var(--wide-width);
    height: 50vh;
    
    display: flex;
    gap: 4rem;

    margin-block: 3.5rem;
    margin-inline: auto;

    padding-top: 2.5rem;
}

@media (max-width: 600px) {
    .home-end-section {
        height: 60vh;
        gap: 2rem;

        flex-direction: column;
    }
}