.home-landing-tagline {
    width: 850px; /* should always match navbar width */
    height: 100%;

    position: relative;

    display: flex;
    align-items: end;
    justify-content: center;

    padding-bottom: 5rem;

    color: white;
    text-align: center;

    z-index: 2;
}

.home-redirect-section {
    width: 92.5%;
    height: fit-content;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 3%;

    margin-inline: auto;
    padding-block: 5rem;
}

.home-redirect {
    flex: 1;

    clip-path: inset(0 0 0 0);
}

.home-redirect img {
    width: fit-content;
    height: 60vh;
    
    object-fit: cover;
}

@media screen and (max-width: 850px) {
    .redirect {
        flex-direction: column;
    }
}