.redirect {
    width: 92.5%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 3%;

    margin-inline: auto;
    padding-block: 10rem;
}

@media screen and (max-width: 850px) {
    .redirect {
        flex-direction: column;
    }
}