.join-landing-phrase {
	width: 850px;
	margin-inline: auto;

	text-align: center;
}

.join-landing-phrase > * {
	width: 850px;
	margin-inline: auto;

	text-align: center;
}

@media (max-width: 1024px) {
	.join-landing-phrase {
		width: 600px;
	}
}

@media (max-width: 750px) {
	.join-landing-phrase {
		width: 400px;
	}
}

.join-blurb-section {
    width: 90%;

    display: grid;
    grid-template-columns: 40% 55%;
    gap: 5%;
    
    align-items: stretch;

    margin-top: 11rem;
    margin-inline: auto;
}

.join-blurb-content {
    /* width: 40%; */
}

.join-blurb-collage {
    /* width: 55%; */
    height: 100%;

    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

@media (max-width: 1024px) {
	.join-blurb-section {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		gap: 2rem;
	}

	.join-blurb-collage {
		height: auto;
	}
}

.systems-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}


/* First 3 items: each spans 2 columns (2+2+2 = 6) */
.systems-container > *:nth-child(-n+3) {
  grid-column: span 2;
}

/* Last 2 items: each spans 3 columns (3+3 = 6) */
.systems-container > *:nth-child(n+4) {
  grid-column: span 3;
}

@media (max-width: 1280px) {
	.systems-container {
		grid-template-columns: repeat(2, 1fr);
		
	}

	.systems-container > *:nth-child(-n+4) {
		grid-column: span 1;
	}

	.systems-container > *:nth-child(n+5) {
		grid-column: span 2;
	}
}

/* Responsive */
@media (max-width: 750px) {
	.systems-container {
		grid-template-columns: 1fr;
	}
	/* First 3 items: each spans 2 columns (2+2+2 = 6) */
	.systems-container > *:nth-child(n) {
		grid-column: span 1;
	}
}