.navbar {
    width: 850px;
    height: 50px;
    position: fixed;

    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--tinted-white);
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;

    z-index: 10;
}

@media (max-width: 1024px) {
    .navbar {
        width: 600px;
    }
}



.navbar-container {
    width: 97%;
    height: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container > * {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

}

.navbar-buttons {
    width: 35%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-logo {
    height: 80%;
    object-fit: contain;
    user-select: none;
}

@media (max-width: 750px) {
    .navbar {
        width: 400px;
    }

    .navbar-buttons {
        width: 0%;
        display: none;
    }
}