.navbar {
    width: 57vw;
    height: 50px;
    position: fixed;

    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--tinted-white);
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
}

.navbar-container {
    width: 97%;
    height: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: aqua; */
}

.navbar-container img {
    height: 80%;
}