.navbar {
    width: 850px;
    height: 50px;
    position: fixed;

    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--tinted-white);
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;

    z-index: 10;
}

@media (max-width: 1024px) {
    .navbar {
        width: 600px;
    }
}

@media (max-width: 750px) {
    .navbar {
        width: 400px;
    }
}

@media (max-width: 475px) {
    .navbar {
        top: 3%;
    }
}

.navbar-container {
    width: 97%;
    height: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container > * {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

}

.navbar-buttons {
    width: 35%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.navbar-logo {
    height: 80%;
    object-fit: contain;
    user-select: none;
}

.navbar-vis {
    display: inherit !important;
}

@media (max-width: 750px) {
    .navbar-container{
        width: 94%;
    }

    .navbar-buttons {
        width: 0%;
        display: none;
    }

    .navbar-vis {
        display: none !important;
    }
}

.navbar-purple-button {
    color: white;
    background-color: var(--standard-purple);
    border-radius: 2rem;

    display: flex;

    justify-content: center;
    align-items: center;

    padding-inline: 1rem;
    padding-block: 0.5rem;

    cursor: pointer;
}

.navmenu-vis {
    display: none !important; 
}

@media (max-width: 750px) {
    .navmenu-vis {
        display: inherit !important;
    }
}