.sponsor-tier-section {
    width: 90%;
    
    margin-top: 15rem;
    margin-inline: auto;
    
}

.sponsor-tier-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width: 850px) {
    .sponsor-tier-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 475px) {
    .sponsor-tier-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}