@media (max-width: 475px) {
    .yellow-button.sponsor-button {
        width: 100%;

        /* padding-inline: 8rem; */
    }
}

.sponsor-why-partner {
    width: 90%;
    height: 80vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-inline: auto;
    margin-top: 11.25rem;
}

.sponsor-why-partner > * {
    width: 45%;
}

.sponsor-why-partner-big-stat {
    height: 40%;
}

.sponsor-why-partner-big-stat h1 {
    font-size: 8rem !important;
}

.sponsor-why-partner-stats {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
}

@media (max-width: 800px) {
    .sponsor-why-partner {
        flex-direction: column;
        height: fit-content;
    }

    .sponsor-why-partner > * {
        width: 100%;
    }

    .sponsor-why-partner-blurb{
        height: fit-content;
        padding-bottom: 4rem;
    }

    .sponsor-stats {
        height: fit-content;
    }
    
    .sponsor-why-partner-big-stat {
        height: 80%;
    }

    .sponsor-why-partner-big-stat h1 {
        font-size: 8rem !important;
    }

    .sponsor-why-partner-stats {
        margin-block: 0.8rem;
    }
}

@media (max-width: 600px) {
    .sponsor-why-partner-big-stat h1 {
        font-size: 8rem !important;
    }

    .sponsor-why-partner > div:last-child {
        height: 55%;
    }
}

@media (max-width: 475px) {
    .sponsor-why-partner-blurb {
        padding-bottom: 3rem;
    }

    .sponsor-why-partner > div:last-child {
        height: 80%;
    }
}

.sponsor-tier-section {
    width: 90%;
    margin-top: 10rem;
    margin-inline: auto;
}

.sponsor-tier-section-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    gap: 1rem;
}

@media (max-width: 1024px) {
    .sponsor-tier-section-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 600px) {
    .sponsor-tier-section-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.sponsor-tier-component {
    flex: 1;
    background-color: white;
    color: black;
    padding: 1rem;
}


