.subsystem-component {
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: auto;
}

.subsystem-content {
    width: 70%;
}

.collage-equal {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1%
}

.collage-equal img {
    width: 0;
    flex: 1;
    object-fit: cover;
}

.collage-hero-side {
    height: 45vh;

    display: flex;
    flex-direction: row;

    gap: 1vw;
}

.collage-hero-side > * {
    width: 0;
    flex: 1;
    object-fit: cover;
    gap: 1vw;

}

.collage-hero-side-right {
    display: flex;
    flex-direction: column;
}

.collage-hero-side-right > * {
    height: 0;
    flex: 1;
    object-fit: cover;
}

.collage-hero-bottom {
    height: 45vh;

    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.collage-hero-bottom > * {
    width: 100%;
    height: 0;
    flex: 1;
    object-fit: cover;
}

.collage-hero-bottom-top {
    display: flex;
    flex-direction: row;    
    gap: 1vw;
}
.collage-hero-bottom-top > * {
    width: 0;
    flex: 1;
    object-fit: cover;
}