.subsystem-component {
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: auto;
}

.subsystem-content {
    width: 70%;
}

.table-of-contents {
    top: 10vh;
    width: fit-content;
    height: fit-content;

    margin-inline: auto;
    margin-block: 3rem;
}

.table-of-contents-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.table-of-contents-item {
    margin-bottom: 1.5rem;
    cursor: pointer;

    display: flex; 
    gap: 1rem;
    align-items: center;
}

.table-of-contents-item > :first-child { /* there is major fuckery here idk */
    height: 40px;
    aspect-ratio: 1/1;

    padding-inline: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--standard-yellow);
    
    border-radius: 50%;

    flex: 0
}

@media (max-width: 1024px) {
    .subsystem-component {
        flex-direction: column;
    }

    .subsystem-content {
        width: 100%;

        margin-top: 1.5rem;
    }
}

.collage-equal {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1%
}

.collage-equal img {
    width: 0;
    flex: 1;
    object-fit: cover;
}

.collage-hero-side {
    height: 45vh;

    display: flex;
    flex-direction: row;

    gap: 1vw;
}

.collage-hero-side > * {
    width: 0;
    flex: 1;
    object-fit: cover;
    gap: 1vw;

}

.collage-hero-side-right {
    display: flex;
    flex-direction: column;
}

.collage-hero-side-right > * {
    height: 0;
    flex: 1;
    object-fit: cover;
}

.collage-hero-bottom {
    height: 45vh;

    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.collage-hero-bottom > * {
    width: 100%;
    height: 0;
    flex: 1;
    object-fit: cover;
}

.collage-hero-bottom-top {
    display: flex;
    flex-direction: row;    
    gap: 1vw;
}

.collage-hero-bottom-top > * {
    width: 0;
    flex: 1;
    object-fit: cover;
}

.collage-2-right {
    width: 100%;
    height: 45vh;

    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr;

    gap: 1vw;
}

.collage-2-right > * {
    width: 100%;
    height: 100%;
    min-height: 0; 

    object-fit: cover;
}

.collage-2-center {
    width: 100%;
    height: 45vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    gap: 1vw;
}

.collage-2-center > *{
    width: 100%;
    height: 100%;
    min-height: 0; 

    object-fit: cover;
}

.collage-2-left {
    width: 100%;
    height: 45vh;

    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 1fr;

    gap: 1vw;
}

.collage-2-left > *{
    width: 100%;
    height: 100%;
    min-height: 0; 

    object-fit: cover;
}

.collage-1-single {
    width: 100%;
    height: 45vh;
}