.team-landing {
    width: 92.5%;
    padding-block: 8rem;
    margin-inline: auto;
}

.team-redirect > * {
    width: 100%
}

.team-redirect img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.team-redirect-container {
    width: 100%;

    display: grid;
    
    grid-template-columns: repeat(5, minmax(0, 1fr));    
    gap: 1rem;

    margin-inline: auto;
}

@media (max-width: 1024px) {
    .team-redirect-container {
            grid-template-columns: repeat(3, minmax(0, 1fr));    
    }
}

@media (max-width: 750px) {
    .team-redirect-container {
            grid-template-columns: repeat(2, minmax(0, 1fr));    
    }
}

@media (max-width: 475px) {
    .team-redirect-container {
            grid-template-columns: repeat(1, minmax(0, 1fr));    
    }
}

.team-portrait-container {
    width: 92.5%;

    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    
    padding-block: 12.5rem;
    margin-inline: auto;
}


.portrait {
    height: 60vh;

    position: relative;
    flex: 1
}

.portrait > * {
    transition: all 0.3s ease;
}

.portrait-image {
    width: 100%;
    height: 100%;

    object-position: 50% 30%;
    object-fit: cover;
    border-radius: 36px;

    position: absolute;
    transition: all 0.3s ease;
}

.portrait-lining {
    width: calc(100% - 20px);
    height: calc(100% - 20px);

    position: absolute;
    inset: 10px; /* Sets top, right, bottom, left all to 10px */
    margin: 0 auto; /* Centers horizontally */
    border-width: 2px;
    border-radius: 30px;
}

.portrait-content {
    position: absolute;
    bottom: 1rem;
    left: 1.25rem;
}

.portrait-contact {
    width: 99%;
    height: 100%;

    background-color: var(--standard-yellow);
    border-radius: 36px;
}

.portrait-contact-content {
    width: 85%;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    padding-top: 124%; /* hella hardcoded for the content to be ground to the floor but w/e */
 
    color: black;
}

.portrait-contact-content a img {
    height: 2vw;
}

.portrait:hover .portrait-image {
    height: 85%;
    object-position: 50% 30%;

    transition: all 0.3s ease;
}

.portrait:hover .portrait-lining {
    height: calc(85% - 20px);

    transition: all 0.3s ease;
}

@media (max-width: 1210px) {
    .team-portrait-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }    
}

@media (max-width: 900px) {
    .team-portrait-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }    
}

@media (max-width: 475px) {
    .team-portrait-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }    
}
