/* @import "tailwindcss/preflight";  */
@import "tailwindcss"; /* index named as _index to keep this import at top of main.css*/

:root {
    --font-heading: 'Manrope', sans-serif;
    --font-body: 'Sora', sans-serif;

    --standard-purple: #510087;
    --standard-yellow: #FFD500;
    --tinted-white: #F5F0F6;
    --purple-line: #6300A6;
}

@layer base {
     *, *::before, *::after {
        box-sizing: border-box;
        font-synthesis: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading);
        font-weight: 700;
        /* font-size: 100%; */
    }
    p, a {
        font-family: var(--font-body);
    }

    h1 {
        font-size: 4.75rem;
    }
    h2 {
        font-size: 3.14rem;
        line-height: 1.2;
    }
    h3 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 0.8rem;
    }
    p {
        font-size: 1rem;
    }
}

html {
    font-size: 16px;
}

@media (max-width: 1024px) {
    html {
        font-size: 14px
    }
}

@media (max-width: 600px) {
    html {
        font-size: 12px
    }
}

@media (max-width: 375px) {
    html {
        font-size: 10px;
    }
}
/* @media (min-width: 600px) {
    html {
        font-size:min(1.2vw, 1vh * 2.3)
    }
}*/

.background {
    background-color: var(--standard-purple);
    color: var(--tinted-white);
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.purple-line {
    width: 100%;
    height: 4px;
    background-color: var(--purple-line);
}

.white-line {
    width: 100%;
    height: 4px;
    background-color: var(--tinted-white);
}

.seperator-bottom-sm {
    margin-bottom: 2%;
}

.white-landing {
    width: 100%;
    height: 110vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-inline: auto;
    padding-inline: 7.5vw;
    padding-block: 8rem;

    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;

    color: black;
    background-color: white;
}



.white-landing-content {
    width: 55%;
}

.white-landing-content h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.white-landing-content p {
    margin-top: 3rem;
}

.white-landing img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 800px) {
    .white-landing {
        flex-direction: column;

        padding-block: 5rem;
    }

    .white-landing-content {
        width: 100%;
    }

    .white-landing-content h2 {
        margin-top: 3rem;
        /* margin-bottom: 1rem; */
    }

    .white-landing-content p {
        margin-top: 1rem;
    }


    .white-landing img {
        width: 100%;
        height: 40%;
    }
}

.yellow-button {
    width: fit-content;
    background-color: var(--standard-yellow);
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    margin-top: 1.5rem;
    cursor: pointer;

    transition: all 0.3s ease;
    border-radius: 10vw;
    text-align: center;
}



/* manrope-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/manrope-v20-latin/manrope-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/manrope-v20-latin/manrope-v20-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* manrope-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/manrope-v20-latin/manrope-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/manrope-v20-latin/manrope-v20-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* sora-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/sora-v17-latin/sora-v17-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/sora-v17-latin/sora-v17-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* sora-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/sora-v17-latin/sora-v17-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/sora-v17-latin/sora-v17-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}


.redirect {
    width: 92.5%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 3%;

    margin-inline: auto;
    padding-block: 10rem;
}

@media screen and (max-width: 850px) {
    .redirect {
        flex-direction: column;
    }
}
.systems-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Center the bottom row */
.card:nth-child(4) {
  grid-column: 1 / 2;
}

.card:nth-child(5) {
  grid-column: 2 / 3;
}

/* Responsive */
@media (max-width: 768px) {
  .systems-container {
    grid-template-columns: 1fr;
  }
  
  .card:nth-child(4),
  .card:nth-child(5) {
    grid-column: 1;
  }
}
.navbar {
    width: 850px;
    height: 50px;
    position: fixed;

    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--tinted-white);
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;

    z-index: 10;
}

@media screen and (max-width: 1024px) {
    
}

.navbar-container {
    width: 97%;
    height: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container > * {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

}

.navbar-logo {
    height: 80%;
    object-fit: contain;
    user-select: none;
}
.subsystem-component {
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: auto;
}

.subsystem-content {
    width: 70%;
}

.table-of-contents {
    top: 10vh;
    width: 40%;
    height: fit-content;

    margin-inline: auto;
    margin-block: 3rem;
}

.table-of-contents-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.table-of-contents-item {
    margin-bottom: 1.5rem;
    cursor: pointer;

    display: flex; 
    gap: 1rem;
    align-items: center;
}

.table-of-contents-item > :first-child { /* there is major fuckery here idk */
    height: 40px;
    aspect-ratio: 1/1;

    padding-inline: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--standard-yellow);
    
    border-radius: 50%;

    flex: 0
}

.collage-equal {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1%
}

.collage-equal img {
    width: 0;
    flex: 1;
    object-fit: cover;
}

.collage-hero-side {
    height: 45vh;

    display: flex;
    flex-direction: row;

    gap: 1vw;
}

.collage-hero-side > * {
    width: 0;
    flex: 1;
    object-fit: cover;
    gap: 1vw;

}

.collage-hero-side-right {
    display: flex;
    flex-direction: column;
}

.collage-hero-side-right > * {
    height: 0;
    flex: 1;
    object-fit: cover;
}

.collage-hero-bottom {
    height: 45vh;

    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.collage-hero-bottom > * {
    width: 100%;
    height: 0;
    flex: 1;
    object-fit: cover;
}

.collage-hero-bottom-top {
    display: flex;
    flex-direction: row;    
    gap: 1vw;
}
.collage-hero-bottom-top > * {
    width: 0;
    flex: 1;
    object-fit: cover;
}
.portrait {
    height: 60vh;

    position: relative;
    flex: 1
}

.portrait > * {
    transition: all 0.3s ease;
}

.portrait-image {
    width: fit-content;
    height: 100%;

    object-position: 100% 30%;
    object-fit: cover;
    border-radius: 36px;

    position: absolute;
    transition: all 0.3s ease;
}

.portrait-lining {
    width: calc(100% - 20px);
    height: calc(100% - 20px);

    position: absolute;
    inset: 10px; /* Sets top, right, bottom, left all to 10px */
    margin: 0 auto; /* Centers horizontally */
    border-width: 2px;
    border-radius: 30px;
}

.portrait-content {
    position: absolute;
    bottom: 1rem;
    left: 1.25rem;
}

.portrait-contact {
    width: 99%;
    height: 100%;

    background-color: var(--standard-yellow);
    border-radius: 36px;
}

.portrait-contact-content {
    width: 85%;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    padding-top: 124%; /* hella hardcoded for the content to be ground to the floor but w/e */
 
    color: black;
}

.portrait-contact-content a img {
    height: 2vw;
}

.portrait:hover .portrait-image {
    height: 85%;
    object-position: 100% 30%;

    transition: all 0.3s ease;
}

.portrait:hover .portrait-lining {
    height: calc(85% - 20px);

    transition: all 0.3s ease;
}
