@import "tailwindcss";

/* manrope-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/manrope-v20-latin/manrope-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/manrope-v20-latin/manrope-v20-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* manrope-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/manrope-v20-latin/manrope-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/manrope-v20-latin/manrope-v20-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* sora-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/sora-v17-latin/sora-v17-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/sora-v17-latin/sora-v17-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* sora-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/sora-v17-latin/sora-v17-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/sora-v17-latin/sora-v17-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}


/* @import "tailwindcss/preflight";  */

:root {
    --font-heading: 'Manrope', sans-serif;
    --font-body: 'Sora', sans-serif;

    --standard-purple: #510087;
    --standard-yellow: #FFD500;
    --tinted-white: #F5F0F6;
    --purple-line: #6300A6;
}

@layer base {
     *, *::before, *::after {
        box-sizing: border-box;
        font-synthesis: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading);
        font-weight: 700;
        /* font-size: 100%; */
    }
    p, a {
        font-family: var(--font-body);
    }

    h1 {
        font-size: 76px;
    }
    h2 {
        font-size: 50.3px;
        line-height: 1.2;
    }
    h3 {
        font-size: 25.2px;
    }
    h4 {
        font-size: 12.5px;
    }
    p {
        font-size: 15.7px;
    }
}

html {
    font-size:1.3vw
}

@media (min-width: 600px) {
    html {
        font-size:min(1.2vw, 1vh * 2.3)
    }
}

@media (min-width: 1025px) {
    html {
        font-size:min(.8333333333vw, .8333333333vh * 2.3)
    }
}

.background {
    background-color: var(--standard-purple);
    color: var(--tinted-white);
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.purple-line {
    width: 100%;
    height: 4px;
    background-color: var(--purple-line);
}

.white-line {
    width: 100%;
    height: 4px;
    background-color: var(--tinted-white);
}

.seperator-bottom-sm {
    margin-bottom: 2%;
}
.systems-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Center the bottom row */
.card:nth-child(4) {
  grid-column: 1 / 2;
}

.card:nth-child(5) {
  grid-column: 2 / 3;
}

/* Responsive */
@media (max-width: 768px) {
  .systems-container {
    grid-template-columns: 1fr;
  }
  
  .card:nth-child(4),
  .card:nth-child(5) {
    grid-column: 1;
  }
}
.navbar {
    width: 57vw;
    height: 50px;
    position: fixed;

    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--tinted-white);
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;

    z-index: 10;
}

.navbar-container {
    width: 97%;
    height: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: aqua; */
}

.navbar-container img {
    height: 80%;
}